html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: unset;
}

:root {
  --bg-black: rgb(15, 15, 15);
  --bg-gray: rgb(46, 46, 46);
}

body {
  font-family: 'Comic Neue', cursive;
  padding: 20px 10px;
  background-color: var(--bg-black);
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 3px solid #fff;
}

.date {
  width: 100%;
  margin: 15px 0;
  text-align: right;
}

header h1 {
  font-size: 22px;
}

.links {
  display: flex;
  gap: 10px;
}

.links .active {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.links a:not(.active):hover {
  border-bottom: 3px solid #fff;
}

.home {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.books-list {
  width: 100%;
  border: 3px solid #fff;
  margin: 20px 0;
}

.books-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.books-list li:nth-child(odd) {
  background-color: var(--bg-gray);
}

button {
  border: 3px solid #fff;
  background-color: var(--bg-black);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.form-container {
  display: none; /*flex*/
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

form {
  margin: 50px 0 20px 0;
  width: 50%;
}

form input {
  width: 100%;
  padding: 10px;
  border: 3px solid #fff;
  background-color: var(--bg-gray);
  color: #fff;
  font-size: 18px;
}

.submit-btn {
  float: right;
}

.contact {
  display: none; /*flex*/
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
}

.contact p {
  margin: 50px 0 20px 0;
}

.info li {
  list-style: circle;
}

.flex {
  display: flex;
}
