html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Comic Neue', cursive;
  padding: 20px;
}

li {
  list-style: none;
}

main {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}
main h1 {
  text-align: center;
  margin-bottom: 11px;
}

.main__book_container {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(149, 149, 240, 0.8);
}

.book_inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
}

.book__info {
  display: flex;
  gap: 12px;
}

.list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.books-list li:nth-child(even) {
  background-color: rgba(118, 202, 235, 0.8);
}

.books-list li:nth-child(odd) {
  background-color: rgba(95, 150, 221, 0.7);
}

button {
  padding: 8px 12px;
}

button:hover {
  transform: scale(1.1);
}

.form {
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

.form h2 {
  text-align: center;
  margin-bottom: 15px;
}

input[type='text'] {
  padding: 10px;
  width: 70%;
  font-family: 'Comic Neue', cursive;
}

input[type='text']:focus {
  outline: none;
}
